# Ignore compiled binaries, config files
*.o
obj_opt/
*.cfg
*.pyc
__pycache__/
mcpat/
interfaces/cacheResults/
interfaces/cacheConfigs/
*.csv
*.txt
*.csv.bak
tags
.DS_Store

# Virtual environments
venv/
running_venv/
dev_env/
